In [9]:
import pandas as pd
dict1={"Country":["INDIA","BANGLADESH","AUSTRALIA"],
       "Capital":["DELHI","DHAKA","SYDNEY"]}
dataframe=pd.DataFrame(dict1)
print(dataframe)

      Country Capital
0       INDIA   DELHI
1  BANGLADESH   DHAKA
2   AUSTRALIA  SYDNEY

In [11]:
dict1['Country'][0]

'INDIA'

In [21]:
dict2={"Name":"PABLO","Age":"45","Resident":"ITALY",}
dataframe=pd.Series(dict2,index=["Name","Age","Resident"])
dataframe

Name        PABLO
Age            45
Resident    ITALY
dtype: object

In [27]:
l1=['Country','Capital',]
l2=['India','Delhi']
l3=['Australia','Sydney']
l4=['Bangladesh','Dhaka']
pd.DataFrame([l1,l2,l3,l4])

            0        1
0     Country  Capital
1       India    Delhi
2   Australia   Sydney
3  Bangladesh    Dhaka

In [37]:
print("Cricket stats of Sachin Tendulkar")
samp = pd.read_csv("Test.csv")
print(samp)

Cricket stats of Sachin Tendulkar
    Runs Mins   BF  4s    6s      SR Pos Dismissal Inns      Opposition  \
0     11   92    -   -     0       -   6       lbw    1     v Sri Lanka
1     50  158  118   6     0   42.37   4    caught    1       v England
2      9   17   19   2     0   47.36   4   not out    4       v England
3    165  361  296  24     1   55.74   4    caught    1       v England
4     78  285  213  10     0   36.61   4       lbw    2       v England
5     62  128  114   7     0   54.38   4    caught    1      v Zimbabwe
6     28   74   52   5     0   53.84   4    caught    1     v Sri Lanka
7    104  217  161  11     1   64.59   4   not out    3     v Sri Lanka
8    142  260  224  22     0   63.39   4    caught    1     v Sri Lanka
9     96  180  140  15     0   68.57   4    bowled    1     v Sri Lanka
10     6   25   14   1     0   42.85   4    bowled    2     v Sri Lanka
11    34   70   43   7     0   79.06   4       lbw    1   v West Indies
12    85  178  130  10     1   65.38   5    caught    3   v West Indies
13     4    7    4   1     0     100   4    caught    2   v New Zealand
14     0    3    0   0     0       -   4   not out    4   v New Zealand
15    10   12   11   2     0    90.9   4    caught    2     v Australia
16     0    6    7   0     0       0   4    bowled    4     v Australia
17    42   80   64   7     0   65.62   4    caught    1  v South Africa
18     7   43   33   1     0   21.21   4    caught    3  v South Africa
19    61  211  173   4     1   35.26   4    caught    1  v South Africa
20    36  129   98   4     0   36.73   5    caught    3  v South Africa
21     4    7    5   1     0      80   4    caught    1     v Australia
22   155  286  191  14     4   81.15   4   not out    3     v Australia
23    79  109   86  12     2   91.86   4    caught    2     v Australia
24     6   13   11   1     0   54.54   4       lbw    1      v Pakistan
25    29   99   65   4     0   44.61   4    caught    3      v Pakistan
26    15   76   54   3     0   27.77   4    caught    2   v New Zealand
27    44   58   39   8     0  112.82   4   not out    4   v New Zealand
28    18   63   41   1     0    43.9   5    caught    2    v Bangladesh
29   DNB    -    -   -     -       -   -         -    4    v Bangladesh
..   ...  ...  ...  ..   ...     ...  ..       ...  ...             ...
686    1    0    2   0     2       5   3         1    1       v England
687    7    0   26   1  3.71       6   2         1    1       v England
688   19    0   78   0   4.1       5   4         0    0       v England
689    7    1   32   0  4.57       5   2         0    0      v Pakistan
690    3    0    7   0  2.33       5   4         0    0      v Pakistan
691    1    0    6   0     6       7   2         0    0     v Australia
692  DNB    -    -   -     -       -   1         0    0  v South Africa
693  DNB    -    -   -     -       -   3         0    0  v South Africa
694  DNB    -    -   -     -       -   1         0    0     v Australia
695  DNB    -    -   -     -       -   3         0    0     v Australia
696    1    0    2   0     2       6   2         0    0     v Australia
697  DNB    -    -   -     -       -   4         0    0     v Australia
698  DNB    -    -   -     -       -   2         0    0       v England
699  DNB    -    -   -     -       -   4         0    0       v England
700  DNB    -    -   -     -       -   1         1    1   v New Zealand
701  DNB    -    -   -     -       -   2         0    0   v New Zealand
702    9    0   45   2     5       7   4         0    0   v New Zealand
703    7    0   20   0  2.85       6   2         1    1     v Sri Lanka
704  DNB    -    -   -     -       -   1         0    0     v Sri Lanka
705  DNB    -    -   -     -       -   3         0    0     v Sri Lanka
706    2    0   16   0     8       7   2         0    0   v New Zealand
707  DNB    -    -   -     -       -   4         0    0   v New Zealand
708  DNB    -    -   -     -       -   1         0    0   v New Zealand
709    2    0    7   0   3.5       5   3         0    0   v New Zealand
710  DNB    -    -   -     -       -   1         0    0  v South Africa
711    2    0    9   1   4.5       5   3         0    0  v South Africa
712    6    0   24   0     4       7   1         0    0   v West Indies
713    1    0    5   0     5       6   3         2    2   v West Indies
714  DNB    -    -   -     -       -   1         0    0       v England
715  DNB    -    -   -     -       -   3         0    0       v England

                 Ground Start DateAscending Match Number Result
0            Chandigarh           23-Nov-90  Test # 1156    Won
1               Kolkata           29-Jan-93  Test # 1211    Won
2               Kolkata           29-Jan-93  Test # 1211    Won
3               Chennai           11-Feb-93  Test # 1213    Won
4                Mumbai           19-Feb-93  Test # 1214    Won
5                 Delhi           13-Mar-93  Test # 1218    Won
6         Colombo (SSC)           27-Jul-93  Test # 1228    Won
7         Colombo (SSC)           27-Jul-93  Test # 1228    Won
8               Lucknow           18-Jan-94  Test # 1244    Won
9             Bengaluru           26-Jan-94  Test # 1245    Won
10            Ahmedabad            8-Feb-94  Test # 1247    Won
11               Mumbai           18-Nov-94  Test # 1274    Won
12               Mumbai           18-Nov-94  Test # 1274    Won
13            Bengaluru           18-Oct-95  Test # 1308    Won
14            Bengaluru           18-Oct-95  Test # 1308    Won
15                Delhi           10-Oct-96  Test # 1335    Won
16                Delhi           10-Oct-96  Test # 1335    Won
17            Ahmedabad           20-Nov-96  Test # 1338    Won
18            Ahmedabad           20-Nov-96  Test # 1338    Won
19               Kanpur            8-Dec-96  Test # 1344    Won
20               Kanpur            8-Dec-96  Test # 1344    Won
21              Chennai            6-Mar-98  Test # 1405    Won
22              Chennai            6-Mar-98  Test # 1405    Won
23              Kolkata           18-Mar-98  Test # 1409    Won
24                Delhi            4-Feb-99  Test # 1443    Won
25                Delhi            4-Feb-99  Test # 1443    Won
26               Kanpur           22-Oct-99  Test # 1464    Won
27               Kanpur           22-Oct-99  Test # 1464    Won
28                Dhaka           10-Nov-00  Test # 1512    Won
29                Dhaka           10-Nov-00  Test # 1512    Won
..                  ...                 ...          ...    ...
686              Lord's           19-Jul-07  Test # 1840  Drawn
687            The Oval            9-Aug-07  Test # 1842  Drawn
688            The Oval            9-Aug-07  Test # 1842  Drawn
689             Kolkata           30-Nov-07  Test # 1850  Drawn
690             Kolkata           30-Nov-07  Test # 1850  Drawn
691            Adelaide           24-Jan-08  Test # 1863  Drawn
692             Chennai           26-Mar-08  Test # 1870  Drawn
693             Chennai           26-Mar-08  Test # 1870  Drawn
694           Bengaluru            9-Oct-08  Test # 1887  Drawn
695           Bengaluru            9-Oct-08  Test # 1887  Drawn
696               Delhi           29-Oct-08  Test # 1891  Drawn
697               Delhi           29-Oct-08  Test # 1891  Drawn
698              Mohali           19-Dec-08  Test # 1901  Drawn
699              Mohali           19-Dec-08  Test # 1901  Drawn
700              Napier           26-Mar-09  Test # 1917  Drawn
701          Wellington            3-Apr-09  Test # 1918  Drawn
702          Wellington            3-Apr-09  Test # 1918  Drawn
703           Ahmedabad           16-Nov-09  Test # 1933  Drawn
704       Colombo (SSC)           26-Jul-10  Test # 1966  Drawn
705       Colombo (SSC)           26-Jul-10  Test # 1966  Drawn
706           Ahmedabad            4-Nov-10  Test # 1974  Drawn
707           Ahmedabad            4-Nov-10  Test # 1974  Drawn
708  Hyderabad (Deccan)           12-Nov-10  Test # 1975  Drawn
709  Hyderabad (Deccan)           12-Nov-10  Test # 1975  Drawn
710           Cape Town            2-Jan-11  Test # 1988  Drawn
711           Cape Town            2-Jan-11  Test # 1988  Drawn
712              Mumbai           22-Nov-11  Test # 2019  Drawn
713              Mumbai           22-Nov-11  Test # 2019  Drawn
714              Nagpur           13-Dec-12  Test # 2066  Drawn
715              Nagpur           13-Dec-12  Test # 2066  Drawn

[716 rows x 14 columns]

In [38]:
samp.head()

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start DateAscending,Match Number,Result
0,11,92,-,-,0,-,6,lbw,1,v Sri Lanka,Chandigarh,23-Nov-90,Test # 1156,Won
1,50,158,118,6,0,42.37,4,caught,1,v England,Kolkata,29-Jan-93,Test # 1211,Won
2,9,17,19,2,0,47.36,4,not out,4,v England,Kolkata,29-Jan-93,Test # 1211,Won
3,165,361,296,24,1,55.74,4,caught,1,v England,Chennai,11-Feb-93,Test # 1213,Won
4,78,285,213,10,0,36.61,4,lbw,2,v England,Mumbai,19-Feb-93,Test # 1214,Won

In [39]:
samp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716 entries, 0 to 715
Data columns (total 14 columns):
Runs                   716 non-null object
Mins                   716 non-null object
BF                     716 non-null object
4s                     716 non-null object
6s                     716 non-null object
SR                     716 non-null object
Pos                    716 non-null object
Dismissal              716 non-null object
Inns                   716 non-null object
Opposition             716 non-null object
Ground                 716 non-null object
Start DateAscending    716 non-null object
Match Number           716 non-null object
Result                 716 non-null object
dtypes: object(14)
memory usage: 78.4+ KB

samp.size()

In [41]:
samp.size

10024